.containerBillsList{
    margin: 80px 10px;
    padding-top: 50px;
    font-family: 'Space Mono';
    position: relative;
}

.month {
    text-align: center;
    font-size: 35px;
    margin: 0;
    width: 180px;
}

.billsContainer {
    height: 80vh;
    overflow: scroll;
}

.billsContainer::-webkit-scrollbar{
    display: none;
}

.billsListHeader{
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 0;
    left: 40%;
}

.btnPrevious, .btnNext {
    font-size: 3rem;
    margin: 0;
}

.containerPaid {
    display: flex;
}