.containerBillsList{
    margin: 80px 10px;
    font-family: 'Space Mono';
}

.month {
    text-align: center;
}

.billsContainer {
    height: 80vh;
    overflow: scroll;
}

.billsContainer::-webkit-scrollbar{
    display: none;
}