.containerHome{
    margin: 80px 10px;
    font-family: 'Space Mono';    
}

.dashboard {
    display: flex;
    flex-direction: column;
}

.containerPlansDashboard, .containerBillsDashboard {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin: auto;
}

.containerNextTarget {
    margin: 20px;
}

.grapSubTitle {
    text-align: center;
}

.grapSubTitle h2 {
    margin: 0;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.balance, .nextTarget {
    font-size: 36px;
    color: white;
    margin: 0;
}

/* NavBar */
.homeNavBar {
    display: flex;
    height: 30px;
    overflow: hidden;
}

.homeNavBar p {
    margin: 0 10px;
}

.homeNavBar p:hover {
    cursor: pointer;
    font-size: 17px;
    text-shadow: 1px 0 green;
}


/* Bills */