.containerHome{
    margin: 80px 10px;
    font-family: 'Space Mono';
}

.containerCircleGraph {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}

.grapSubTitle {
    text-align: center;
}

.grapSubTitle h2 {
    margin: 0;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.balance, .nextTarget {
    font-size: 36px;
    color: white;
    margin: 0;
}