/* HOME STYLES*/
.containerHome{
    display: flex;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
    flex-grow: 1;
}

.containerHomeView {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ----- END OF HOME STYLES ----- */

/* NAVBAR */
.homeNavBar {
    display: flex;
    height: 30px;
}

.homeNavBar p {
    margin: 0 10px;
}

.homeNavBar p:hover {
    cursor: pointer;
    font-size: 17px;
    color: white;
    text-shadow: 0 0px 5px white;
}
/* ----- END OF NAVBAR STYLES ----- */

/* EMPTY DASHBOARD STYLES */
.containerEmptyDashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.containerEmptyPlan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
    padding: 0 50px;
    height: 150px;
    border: solid gray;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px rgb(131, 129, 129);
    background-color: rgb(75, 71, 71);
    color: white;
}

.containerEmptyDashboard h2 {
    margin: 0;
}

.addEmptyDashboard {
    margin: auto;
}
/* ----- END OF EMPTY DASHBOARD STYLES ----- */

/* DASHBOARD STYLES*/
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.containerDashboard {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin: auto;
}

/* Bills */
.dashboardBillMonth {
    color: white;
    font-size: 3em;
    font-style: italic;
    margin: 0;
}

.containerNextTarget {
    margin: 20px;
}

.dashboardGraph {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.graphSubTitle {
    text-align: center;
}

.graphSubTitle h2 {
    margin: 0;
    font-size: 1rem;
}

.balance, .nextTarget {
    font-size: 1.5em;
    color: white;
    margin: 0;
}

/* Loading */
.containerLoading {
    display: flex;
    justify-content: center;
}

.loading {
    margin: auto;
}

/* ACCOUNT LIST STYLE */

/* GLOBAL STYLES */
.containerHomeView input#submit{
    padding: 5px 10px;
    background-color: rgb(53, 52, 52);
    color: white;
    border: white 5px;
    border-style: solid;
}


/* ----- END OF ACCOUNT LIST STYLE -----*/

/* ----- END OF EMPTY DASHBOARD STYLES ----- */

@media screen and (max-width: 900px) { 
    /* MARGIN: 0 */
    .containerDashboard, .containerNextTarget {
        margin: 0;
    }
    .containerDashboard {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .graphSubTitle {
        font-size: 12px;
        width: 80px;
    }

    .dashboard {
        justify-content: flex-start;
    }

    .dashboardBillMonth {
        font-size: 1.75rem
    }

    .containerPlansDashboard {
        height: 100vh;
        margin: 30px 0;
    }

    .containerNextTarget {
        margin: 10px;
    }

    .containerNextTarget > .nextTarget{
        font-size: 20px;
        font-family: "Russo One";
    }

    .containerEmptyPlan {
        margin: 10px;
    }

    .nextTarget {
        text-align: center;
    }

    canvas {
        width: 200px;
        height: 200px;
    }
}