/* Border solid #B0B7C4*/
.containerBillsList, .billsCategory, .billContainer, .billDataContainer, .billAddContainer {
    border: solid #B0B7C4;
}

/* Display Flex */
.billsContainer, .billsCategory, .billContainer, .containerPaid {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

/* MAIN CONTAINER STYLES */
.containerBillsList {
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.containerBillsList::-webkit-scrollbar{
    display: none;
}
/* ----- END OF MAIN CONTAINER STYLES ----- */

.billsListHeader{
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
}

.month {
    position: absolute;
    text-align: center;
    font-size: 45px;
    margin: 0;
    width: auto;
}

.btnPrevious, .btnNext {
    position: absolute;
    margin: 0;
}

.btnPrevious {
    left: 30%;
}

.btnNext {
    right: 30%;
}

.billsContainer::-webkit-scrollbar{
    display: none;
}

.containerPaid > p{
    margin: 0;
}

/* ----- BILL STYLES ----- */
.billsContainer {
    flex-direction: column;
    overflow: scroll;
}

.billsCategory{
    flex-grow: 1;
    border-width: 5px;
    font-size: 20px;
    text-align: center;
}

.containerPaid {
    font-size: 30px;
}

.billDataContainer{
    flex: 1;
    border-width: 0 2px;
    text-align: center;
}

.billAddContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.btnAddBill:hover {
    font-size: 26px;
}

.income > .date > .date{
    text-align: start;
    padding-left: 20px;
}
/* ----- END OF BILL STYLES ----- */

/* ----- MOBILE STYLES----- */
@media screen and (max-width: 900px) {
    .containerBillsList {
        padding: 0;
    }

    .month, .btnPrevious, .btnNext {
        position: relative;
        left: 0;
        right: 0;
        font-size: 24px;
    }

    .month {
        text-align: center;
        font-size: 35px;
    }

    .billAddContainer {
        display: flex;
        justify-content: center;
    }
    

    .btnAddBill {
        position: relative;
        left: 0;
    }
}
/* ----- END OF MOBILE STYLES ----- */