/* Border solid #B0B7C4*/
.containerBillsList, .billsCategory, .billContainer, .billDataContainer, .billAddContainer {
    border: solid #B0B7C4;
}

/* Display Flex */
.billsContainer, .billsCategory, .billContainer, .containerPaid {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

/* MAIN CONTAINER STYLES */
.containerBillsList {
    position: relative;
    padding-top: 50px;
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.containerBillsList::-webkit-scrollbar{
    display: none;
}
/* ----- END OF MAIN CONTAINER STYLES ----- */

.billsListHeader{
    position: absolute;
    top: 0;
    left: 40%;
    display: flex;
}

.month {
    text-align: center;
    font-size: 35px;
    margin: 0;
    width: 180px;
}

.btnPrevious, .btnNext {
    font-size: 3rem;
    margin: 0;
}

.billsContainer::-webkit-scrollbar{
    display: none;
}

.containerPaid > p{
    margin: 0;
}

/* ----- BILL STYLES ----- */
.billsContainer {
    flex-direction: column;
    overflow: scroll;
}

.billsCategory{
    flex-grow: 1;
    border-width: 5px;
    font-size: 20px;
    text-align: center;
}

.containerPaid {
    font-size: 30px;
}

.billDataContainer{
    flex: 1;
    border-width: 0 2px;
    text-align: center;
}

.billAddContainer {
    position: relative;
    height: 40px;
}
.btnAddBill {
    position: absolute;
    left: 49.3%;
    font-size: 25px;
}

.btnAddBill:hover {
    font-size: 26px;
}
/* ----- END OF BILL STYLES ----- */