@use "../../../styles/variables" as v;

.login-register {
  .title {
    margin: 0;
  }

  .login-register_header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      position: absolute;
      left: 0;

      &:hover {
        cursor: pointer;
        color: v.$accent-color;
      }
    }
  }

  form.login,
  form.register {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    .loginMessage {
      margin: 0;
      font-weight: 700;
      color: v.$warning-color;
    }

    label {
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;

      input {
        padding: 0.5rem;
        margin: 0;
        border: 1px solid v.$text-color;
        background-color: v.$primary-color;
        font-size: 1rem;
        font-family: "Kanit", sans-serif;

        &:focus {
          border-color: v.$accent-color;
          border-width: 2px;
          outline: none;
        }
      }
    }

    .btn-login {
      padding: 0.5rem 1rem;
      margin: 1rem 0;
      background-color: rgba(v.$accent-color, 0.85);
      color: white;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: v.$accent-color;
      }
    }
  }

  p {
    font-size: 0.75rem;
    margin: 0;
    span {
      color: v.$text-color_darker;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .containerLogin,
  .containerRegister {
    width: auto;
    margin: auto;
    border: solid #b0b7c4;
    border-radius: 20px;
    background-color: rgba(53, 52, 52, 0.1);
    box-shadow: 0 0 5px 0 rgb(240, 240, 240);
  }

  .formLogin {
    font-size: 30px;
  }

  .registerText {
    font-size: 15px;
  }

  .registerTitle {
    margin: 0 10%;
  }

  .formLogin > input {
    font-size: 12px;
  }

  .loginMessage {
    font-size: 0.75em;
    font-weight: 400;
  }

  .btnLogin {
    font-size: 20px;
    width: auto;
  }
}
