.containerLogin, .containerRegister {
    border: solid #B0B7C4;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(53, 52, 52, 0.1);
    box-shadow:0 0 5px 0 rgb(240, 240, 240);
    margin: 5% 0;
}

.registerHeader {
    display: flex;
    flex: row;
}

.loginTitle {
    font-size: 40px;
    font-family: "Russo One", sans-serif;
}

.registerTitle{
    font-size: 40px;
    font-family: "Russo One", sans-serif;
    margin: 15px 0 20px;
}

.formLogin, .formRegister {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.formLogin > label, .formRegister > label {
    display: flex;
    flex-direction: column;
    font-family: 'Space Mono', monospace;
}

.formLogin > input, .formRegister > label > input {
    width: 50%;
    margin: 10px auto;
    font-family: 'Space Mono', monospace;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
}

.formLogin > input:focus{
    scroll-behavior: smooth;
}

.btnLogin, .btnRegister {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #B0B7C4;
    color: #414449;
    margin: 20px auto;
    font-weight: bold;
    font-family: "Russo One";
    font-size: 20px;
}

.btnLogin:hover, .btnRegister:hover {
    background-color: #414449;
    color: #B0B7C4;
    height: 40px;
    margin-top: 15px;
}

.return {
    margin: 0;
}

.return:hover {
    cursor: pointer;
}

.loginMessage {
    color: rgb(252, 78, 78)
}

.registerLink:hover {
    color: white;
    cursor: pointer;
}

.registerText {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(53, 52, 52);
}

.registerText > span {
    color: white;
}

.registerText > span:hover{
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .containerLogin, .containerRegister {
        width: auto;
        margin: 60px auto;
    }

    .formLogin {
        font-size: 30px;
    }

    .registerText {
        font-size: 15px;
    }

    .registerTitle{
        margin: 0 10%;
    }

    .formLogin > input {
        font-size: 12px;
    }

    .btnLogin {
        font-size: 20px;
        width: auto;
    }
}