.containerLogin, .containerRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    width: 400px;
    text-align: center;
    font-family: "Kanit", sans-serif;
}

.registerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    transition: all ease-in-out 0.5s;
}

.loginTitle, .registerTitle {
    margin: 0;
    flex-basis: 100%;
    color: white;
    font-size: 5em;  
    text-shadow: 5px 5px #272727;
}

.registerHeader > i {
    width: auto;
    align-self: flex-start;
    font-size: 3em;
}

.formLogin, .formRegister {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.formRegister {
    justify-content: center;
    align-items: center;
}

.formLogin > label, .formRegister > label {
    display: flex;
    flex-direction: column;
}

.formLogin > input, .formRegister > label > input {
    height: 40px;
    
    padding-left: 10px;
    font-family: "Kanit", sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.formLogin > input {
    margin: 10px auto;
}

.formLogin > input:focus{
    scroll-behavior: smooth;
}

.btnLogin, .btnRegister {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #B0B7C4;
    color: #414449;
    margin: 20px auto;
    font-weight: bold;
    font-family: "Russo One";
    font-size: 20px;
}

.btnLogin:hover, .btnRegister:hover {
    background-color: #414449;
    color: #B0B7C4;
}

.return {
    margin: 0;
}

.return:hover, button {
    cursor: pointer;
}

.loginMessage {
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    color: rgb(255, 30, 30)
}

.registerLink:hover {
    color: white;
    cursor: pointer;
}

.registerText {
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

.registerText > span {
    font-weight: 400;
    color: rgb(223, 223, 223);
}

.registerText > span:hover{
    color: white;
}

@media screen and (max-width: 900px) {
    .containerLogin, .containerRegister {
        width: auto;
        margin: auto;
        border: solid #B0B7C4;
        border-radius: 20px;
        background-color: rgba(53, 52, 52, 0.1);
        box-shadow:0 0 5px 0 rgb(240, 240, 240);
    }

    .formLogin {
        font-size: 30px;
    }

    .registerText {
        font-size: 15px;
    }

    .registerTitle{
        margin: 0 10%;
    }

    .formLogin > input {
        font-size: 12px;
    }

    .loginMessage {
        font-size: 0.75em;
        font-weight: 400;
    }

    .btnLogin {
        font-size: 20px;
        width: auto;
    }
}