.editContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    border: solid #B0B7C4;
    border-radius: 20px;
    width: 700px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(53, 52, 52);


}

.navTitle {
    font-family: "Russo One";
    font-size: 2rem;
    font-weight: bold;
    margin: auto 0 0 30%;
}

.editForm {
    display: flex;
    margin:  50px auto auto;
    width: 400px;
    flex-direction: column;
    text-align: start;
}

.editFormInput {
    font-family: "Space Mono";
    font-size: 1.5rem;
    margin: 10px 0;
}

.editFormNotes {
    margin: 10px 0;
    height: 200px;
}

#editFormSubmit {
    width: 100px;
    height: 80px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin: 10px auto 0;
    font-family: "Space Mono", sans-serif;
}

.editHeader {
    display: flex;
    flex: row;
}

@media screen and (max-width: 900px) {
    .editContainer {
        width: auto;
        margin: 20px;
        text-align: start;
    }

    .editForm {
        width: auto;
        margin: 0;
    }

    .editFormNotes {
        width: 300px;
    }

    #editFormSubmit {
        text-align: center;
    }
}