.editContainer , .editHeader {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.editContainer {
    width: 50%;
    flex-direction: column;
    border: solid #B0B7C4;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(53, 52, 52);
}

.editHeader {
    align-items: center;
}

.editHeader > .fi {
    font-size: 2em;
}

.editHeader > .editTitle {
    flex-basis: 100%;
    font-size: 3.5em;
    font-weight: 500;
    margin: 0 10%;
    
}

.editForm {
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.editForm > .formInput, .editForm > textarea {
    width: 100%;
}

/* Edit Bill */
.editBillForm label, .editBillForm input {
    font-size: 1.5rem;
}

.editForm > .radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editForm > #eidtNotes {
    margin: 10px 0;
    height: 100px;
    font-size: 1rem;
}

@media screen and (max-width: 900px) {
    .editContainer {
        width: 100%;
        margin: auto;
        text-align: start;
        justify-content: start;
    }

    .editHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .editHeader > .editTitle, .editHeader > .fi-rr-angle-small-left {
        margin: 0;
        font-size: 2em;
    }

    .editHeader > .fi-rr-angle-small-left {
        display: flex;
        align-items: center;
    }

    .editHeader > .editTitle {
        flex-basis: 100%;
    }

    .editForm, .editForm > .formInput {
        width: 100%;
        margin: 0.25em 0;
    }

    .formInput {
        width: 100%;
        padding: 0 5px;
        font-size: 1.25em;
        justify-content: space-between;
        align-items: flex-end;
    }

    .formInput> input, .formInput > input[type=text], .formInput > #addBillRepeat{
        flex-basis: 65%;
        font-size: 0.75em;
        margin-right: 20px;
    }

    .formInput > #addBillRepeat {
        flex-basis: 70%;
    }

    .formInput > input[type=text], .formInput > input[type=number] {
        width: 100%;
    }

    .billCheckBoxes > .formInput {
        margin: 0 0 5px;
    }

    .editForm > .formNotes {
        height: 3rem;
        margin: auto;
        width: 90%;
    }
}