.editContainer , .editHeader {
    display: flex;
}

.editContainer {
    flex-direction: column;
    border: solid #B0B7C4;
    border-radius: 20px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
    background-color: rgb(53, 52, 52);
}

.editTitle {
    font-family: "Russo One";
    font-size: 3rem;
    font-weight: bold;
    margin: 0 10%;
}

/* Edit Bill */
.editBillForm label, .editBillForm input {
    font-size: 1.5rem;
}

.editBillFormNotes {
    margin: 10px 0;
    height: 100px;
    font-size: 1rem;
}

@media screen and (max-width: 900px) {
    .editContainer {
        height: auto;
        margin: 70px 30px;
        text-align: start;
        justify-content: start;
        padding: 10px;
    }

    .editTitle {
        font-size: 2rem;
    }

    .formInput > input[type=text], .formInput > input[type=number] {
        width: 100%;
    }
}