@font-face {
  font-family: "Russo One";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Russo_One/russo-one.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  font-weight: 500;
  font-style: light;
  src: url("../assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
}
.demo-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demo-home .dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2rem;
  width: 70%;
  height: 95%;
  border-radius: 1rem;
  color: rgb(75, 85, 99);
}
.demo-home .dashboard .title {
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(55, 65, 81);
  margin-bottom: 0;
  align-self: center;
}
.demo-home .dashboard .dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 75%;
}
.demo-home .dashboard .dashboard-header .add-transaction-button {
  padding: 0.5rem 1rem;
  background-color: #0070bb;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.demo-home .dashboard .dashboard-header .add-transaction-button:hover {
  background-color: #005f8a;
}
.demo-home .dashboard .summaries {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.demo-home .dashboard .summaries .summary {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  text-align: left;
}
.demo-home .dashboard .summaries .summary .subtitle,
.demo-home .dashboard .summaries .summary .calendar-header {
  position: relative;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.demo-home .dashboard .summaries .summary .subtitle span,
.demo-home .dashboard .summaries .summary .calendar-header span {
  position: absolute;
  right: 0;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
}
.demo-home .dashboard .summaries .summary .subtitle span:hover,
.demo-home .dashboard .summaries .summary .calendar-header span:hover {
  cursor: pointer;
  color: #0070bb;
}
.demo-home .dashboard .summaries .summary .summary-content {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 320px;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transaction-item {
  display: flex;
  justify-content: space-between;
  color: rgb(75, 85, 99);
  border-bottom: rgba(107, 114, 128, 0.5) 1px solid;
  font-size: 0.75rem;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transaction-item .transaction-item_details p {
  color: rgb(107, 114, 128);
  margin: 0;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transaction-item .transaction-item_details .transaction-amount {
  font-weight: bold;
  color: rgb(22, 163, 74);
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transactions-list_more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
  font-style: italic;
  background-color: rgb(243, 244, 246);
  border: 1px dashed rgb(75, 85, 99);
  border-radius: 0.25rem;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transactions-list_more:hover {
  cursor: pointer;
  color: #0070bb;
}
.demo-home .dashboard .summaries .summary .coming-soon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
  font-style: italic;
  background-color: rgb(243, 244, 246);
  border: 1px dashed rgb(75, 85, 99);
  border-radius: 0.25rem;
}
.demo-home .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}
.demo-home .overlay .add-transaction {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  width: 400px;
  max-width: 90%;
  position: relative;
}
.demo-home .overlay .add-transaction .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(107, 114, 128);
}
.demo-home .overlay .add-transaction .btn-close:hover {
  color: #0070bb;
}
.demo-home .overlay .add-transaction form {
  width: 100%;
}
.demo-home .overlay .add-transaction form .input-amount {
  font-size: 5rem;
  display: flex;
  align-items: baseline;
  color: rgb(55, 65, 81);
  font-size: 1.5rem;
}
.demo-home .overlay .add-transaction form .input-amount input[type=number] {
  field-sizing: content;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: rgb(55, 65, 81);
}
.demo-home .overlay .add-transaction form .input-amount input[type=number]:focus {
  outline: none;
}
.demo-home .overlay .add-transaction form .button {
  margin-top: 1rem;
}
.demo-home .overlay .transaction-show {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  width: 400px;
  max-width: 90%;
  position: relative;
}
.demo-home .overlay .transaction-show .transaction-show-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.demo-home .overlay .transaction-show .transaction-show-header .subtitle {
  margin: 0;
}
.demo-home .overlay .transaction-show .transaction-show-header .close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(107, 114, 128);
}
.demo-home .overlay .transaction-show .transaction-show-header .close-button:hover {
  color: #0070bb;
}
.demo-home .overlay .transaction-show .transaction-title {
  margin: 0;
}
.demo-home .overlay .transaction-show .transaction-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.demo-home .overlay .transaction-show .transaction-details p {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}
.demo-home .overlay .transaction-show .transaction-details p span {
  font-weight: 700;
}
.demo-home .overlay .transaction-show .transaction-details .notes-container {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  color: rgb(107, 114, 128);
}
.demo-home .overlay .transaction-show .transaction-details .notes-container p {
  margin: 0;
  font-size: 0.875rem;
}
.demo-home .overlay .transaction-show .transaction-actions {
  margin: 1rem auto;
  display: flex;
  gap: 1rem;
}
.demo-home .overlay .transaction-show .transaction-actions .delete-button {
  background-color: rgb(255, 30, 30) !important;
}
.demo-home > .transactions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem 0;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
}
.demo-home > .transactions-list .title {
  font-family: "Russo One", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(55, 65, 81);
  margin: 0;
}
.demo-home > .transactions-list .subtitle {
  font-size: 1rem;
  color: rgb(107, 114, 128);
}
.demo-home > .transactions-list .budget-items {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.demo-home > .transactions-list .budget-items .transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  color: rgb(55, 65, 81);
  padding: 0.25rem;
}
.demo-home > .transactions-list .budget-items .transaction-item.income {
  background-color: rgba(22, 163, 74, 0.4);
}
.demo-home > .transactions-list .budget-items .transaction-item.past-due {
  background-color: rgb(254, 202, 202);
}
.demo-home > .transactions-list .budget-items .transaction-item.upcoming {
  background-color: rgba(255, 165, 0, 0.4);
}
.demo-home > .transactions-list .budget-items .transaction-item .item-details {
  display: flex;
  flex-direction: column;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-details .item-name {
  font-weight: bold;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-details .item-amount {
  color: rgb(22, 163, 74);
}
.demo-home > .transactions-list .budget-items .transaction-item .item-actions {
  display: flex;
  gap: 0.5rem;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-actions button {
  padding: 0.25rem 0.5rem;
  background-color: #0070bb;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-actions button:hover {
  background-color: #005f8a;
}
.demo-home > .transactions-list .deficit-warning {
  background-image: radial-gradient(circle at 50% 50%, #ff1e1e 0%, rgba(255, 30, 30, 0.1) 100%);
  color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  text-align: center;
}
.demo-home > .transactions-list .deficit-warning p {
  margin: 0;
  font-weight: bold;
  font-size: 0.875rem;
}
.demo-home > .demo-bill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
}
.demo-home > .demo-bill h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.demo-home > .demo-bill h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: rgb(55, 65, 81);
}
.demo-home > .demo-bill p {
  font-size: 1rem;
  text-align: center;
}
.demo-home > .demo-bill .add-bill {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem auto;
}
.demo-home > .demo-bill .add-bill .add-bill_button {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #2196f3, #1976d2);
  border: none;
  border-radius: 1rem;
  color: rgb(243, 244, 246);
  font-weight: 700;
  cursor: pointer;
}
.demo-home > .demo-bill .add-bill .add-bill_button:hover {
  background-image: linear-gradient(to right, #2199f3, #19add2);
}
.demo-home > .demo-bill .add-bill .add-bill_button svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}
.demo-home > .demo-bill .demo-bill_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 25%;
  justify-content: space-between;
  gap: 1rem;
}
.demo-home > .demo-bill .demo-bill_body .bills-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.demo-home > .demo-bill .demo-bill_body .bills-header h3 {
  font-size: 2rem;
  color: rgb(55, 65, 81);
  margin: 0;
}
.demo-home > .demo-bill .demo-bill_body .bills-header button {
  cursor: pointer;
}
.demo-home > .demo-bill .demo-bill_body .bills-type {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.demo-home > .demo-bill .demo-bill_body .bills-type .bills-list {
  width: 100%;
}
.demo-home > .demo-bill .demo-bill_body .bills-type .bills-list .bill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(55, 65, 81);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-bottom: #0070bb 1px solid;
}
.demo-home > .demo-bill .demo-bill_body .bills-type .bills-list .bill-item:hover {
  background-color: rgba(0, 112, 187, 0.1);
}
.demo-home > .demo-bill .demo-bill_body .bills-type .bills-list .bill-item .bill-name {
  flex: 2;
  margin-left: 0;
  text-align: left;
}
.demo-home > .demo-bill .demo-bill_body .bills-type .bills-list .bill-item p {
  flex: 0.5;
  margin: 0;
  text-align: left;
}
.demo-home > .demo-bill .add-transaction .input-select {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
.demo-home > .demo-bill .add-transaction .input-select select {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid rgb(75, 85, 99);
  background-color: rgb(243, 244, 246);
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
}
.demo-home > .demo-bill .add-transaction .input-select select:focus {
  outline: none;
  border-color: #0070bb;
}
.demo-home > .demo-bill .add-transaction .transaction-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.demo-home > .demo-bill .add-transaction .transaction-actions button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.demo-home > .demo-bill .add-transaction .transaction-actions button.edit-button:hover {
  background-color: #e4e7eb;
}
.demo-home > .demo-bill .add-transaction .transaction-actions button.delete-button {
  background-color: rgb(255, 30, 30) !important;
  color: white;
}
.demo-home > .demo-bill .add-transaction .transaction-actions button.delete-button:hover {
  background-color: #b70000 !important;
}

@media screen and (max-width: 900px) {
  .demo-home {
    height: 100vh;
    justify-content: flex-start;
  }
  .demo-home header {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .demo-home header .title {
    display: none;
  }
  .demo-home header .nav-container {
    margin-right: 0;
    font-size: 1rem;
  }
  .demo-home header .nav-container nav {
    margin-left: 0;
    font-size: 1rem;
  }
  .demo-home .dashboard {
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
    flex-direction: column;
    align-items: center;
  }
  .demo-home .dashboard .title {
    font-size: 1.5rem;
    margin: 5px auto;
  }
  .demo-home .dashboard .dashboard-header {
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .demo-home .dashboard .dashboard-header .add-transaction-button {
    display: none;
  }
  .demo-home .transactions-list {
    margin: 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: rgb(75, 85, 99);
  }
  .demo-home .transactions-list .budget-items {
    width: 100%;
    padding: 0.5rem;
  }
  .demo-home .demo-bill {
    padding-top: 0;
  }
  .demo-home .demo-bill .demo-bill_body {
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    gap: 1rem;
  }
  .demo-home .demo-bill .demo-bill_body .bills-header {
    width: 90%;
    align-items: center;
    margin: 0;
  }
  .demo-home .demo-bill .demo-bill_body .bills-header h3 {
    font-size: 1.5rem;
    color: rgb(55, 65, 81);
    margin: 0;
  }
  .demo-home .demo-bill .demo-bill_body .bills-type {
    width: 100%;
  }
  .demo-home .demo-bill .demo-bill_body .bills-type .bills-list {
    width: 100%;
  }
  .demo-home .demo-bill .demo-bill_body .bills-type .bills-list .bill-item {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
  .demo-home .overlay .add-transaction {
    width: 90%;
    height: 100%;
    z-index: 1001;
    max-width: 400px;
    margin: 0;
  }
  .demo-home .overlay .add-transaction .input-amount input {
    box-sizing: content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 3ch;
  }
  .demo-home .overlay .add-transaction .btn-close {
    top: 0.5rem;
    right: 0.5rem;
  }
  .demo-home .overlay .transaction-show {
    width: 90%;
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    max-width: 400px;
    justify-content: flex-start;
  }
  .demo-home .overlay .transaction-show .close-button {
    top: 0.5rem;
    right: 0.5rem;
  }
  .demo-home .mobile-only.add-transaction {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 999;
    border-radius: 50%;
    overflow: hidden;
  }
  .demo-home .mobile-only.add-transaction button {
    width: 4rem;
    height: 4rem;
  }
  .demo-home .mobile-only.add-transaction button:hover {
    background-color: #005f8a;
  }
}/*# sourceMappingURL=demoHome.css.map */