@use "../../styles/variables" as v;

.demo-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .create-budget {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: v.$secondary-color;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: v.$text-color;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;

      .text-required {
        font-size: 0.75rem;
        color: v.$warning-color;
        margin-top: 0;
        margin-bottom: 1rem;
      }

      button {
        padding: 0.5rem 1rem;
        background-color: v.$accent-color;
        color: v.$secondary-color;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: v.$accent-color_darker;
        }
      }
    }
  }

  .dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    width: 70%;
    height: 95%;
    // background-color: v.$secondary-color;
    border-radius: 1rem;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: v.$text-color;

    .title {
      font-family: "Russo One", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: v.$text-color_darker;
      margin-bottom: 0;

      align-self: center;
    }

    .dashboard-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: center;
      width: 75%;

      .add-transaction-button {
        padding: 0.5rem 1rem;
        background-color: v.$accent-color;
        color: v.$secondary-color;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: v.$accent-color_darker;
        }
      }
    }

    .summaries {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .summary {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        margin-bottom: 1rem;
        background-color: v.$secondary-color;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        color: v.$text-color;
        text-align: left;

        .subtitle,
        .calendar-header {
          position: relative;
          font-size: 1rem;
          margin-bottom: 0.5rem;

          span {
            position: absolute;
            right: 0;
            font-size: 0.875rem;
            color: v.$text-color_lighter;
            &:hover {
              cursor: pointer;
              color: v.$accent-color;
            }
          }
        }

        .summary-content {
          margin: 0;
          padding: 0;
          width: 350px;
          height: 320px;

          &.transactions-list {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .transaction-item {
              display: flex;
              justify-content: space-between;
              color: v.$text-color;
              border-bottom: rgba(v.$text-color_lighter, 0.5) 1px solid;
              font-size: 0.75rem;
              .transaction-item_details {
                p {
                  color: v.$text-color_lighter;
                  margin: 0;
                }

                .transaction-amount {
                  font-weight: bold;
                  color: v.$success-color; // or v.$warning-color based on the transaction type
                }
              }
            }

            .transactions-list_more {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.875rem;
              color: v.$text-color_lighter;
              font-style: italic;
              background-color: v.$primary-color;
              border: 1px dashed v.$text-color;
              border-radius: 0.25rem;

              &:hover {
                cursor: pointer;
                color: v.$accent-color;
              }
            }
          }
        }

        .coming-soon {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          font-size: 0.875rem;
          color: v.$text-color_lighter;
          font-style: italic;
          background-color: v.$primary-color;
          border: 1px dashed v.$text-color;
          border-radius: 0.25rem;
        }
      }

      .calendar-box {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

        .calendar-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Russo One", sans-serif;
          font-size: 1rem;
          color: v.$text-color;
        }

        .calendar {
          .calendar-weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            color: v.$text-color_lighter;
          }

          .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 0.5rem;
          }

          .calendar-day {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: #f9fafb;
            box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.05);
            border-radius: 6px;
            font-size: 0.75rem;
            position: relative;

            .day-number {
              color: v.$text-color_lighter;
              display: block;
              &.today {
                color: v.$text-color_darker;
                font-weight: 700;
              }
            }
          }

          .calendar-day.empty {
            background: transparent;
            border: none;
          }
        }
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;

    .add-transaction {
      padding: 1.5rem;
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: v.$secondary-color;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: v.$text-color;
      width: 400px;
      max-width: 90%;
      position: relative;

      .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: v.$text-color_lighter;

        &:hover {
          color: v.$accent-color;
        }
      }

      form {
        width: 100%;

        .input-amount {
          font-size: 5rem;
          display: flex;
          align-items: baseline;
          color: v.$text-color_darker;
          font-size: 1.5rem;

          input[type="number"] {
            field-sizing: content;
            font-size: 3rem;
            text-align: center;
            font-weight: 700;
            background-color: transparent;
            border: none;
            color: v.$text-color_darker;
            &:focus {
              outline: none;
            }
          }
        }

        .button {
          margin-top: 1rem;
        }
      }
    }

    .transaction-show {
      padding: 1.5rem;
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: v.$secondary-color;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      color: v.$text-color;
      width: 400px;
      max-width: 90%;
      position: relative;

      .btn-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: v.$text-color_lighter;

        &:hover {
          color: v.$accent-color;
        }
      }

      .transaction-details {
        width: 100%;
        display: flex;
        flex-direction: column;

        .transaction-item_details {
          margin-bottom: 1rem;

          p {
            margin: 0.25rem 0;
          }

          .transaction-amount {
            font-weight: bold;
            color: v.$success-color; // or v.$warning-color based on the transaction type
          }
        }
      }
    }
  }

  & > .transactions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1rem 0;
    background-color: v.$secondary-color;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: v.$text-color;

    .title {
      font-family: "Russo One", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      color: v.$text-color_darker;
      margin: 0;
    }

    .subtitle {
      font-size: 1rem;
      color: v.$text-color_lighter;
    }

    .budget-items {
      width: 100%;
      max-width: 800px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .transaction-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: v.$primary-color;
        border-radius: 0.25rem;
        color: v.$text-color_darker;
        padding: 0.25rem;

        &.income {
          background-color: rgba(v.$success-color, 0.4);
        }

        &.past-due {
          background-color: v.$past-due-color;
        }

        &.upcoming {
          // bg-yellow-200
          background-color: rgba(v.$caution-color, 0.4);
        }

        .item-details {
          display: flex;
          flex-direction: column;

          .item-name {
            font-weight: bold;
          }

          .item-amount {
            color: v.$success-color; // or v.$warning-color based on the transaction type
          }
        }

        .item-actions {
          display: flex;
          gap: 0.5rem;

          button {
            padding: 0.25rem 0.5rem;
            background-color: v.$accent-color;
            color: v.$secondary-color;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;

            &:hover {
              background-color: v.$accent-color_darker;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .demo-home {
    height: 100vh;
    justify-content: flex-start;
    header {
      height: auto;
      width: 100%;
      flex-direction: column;
      align-items: center;

      .title {
        display: none; // Hide the title on smaller screens
      }

      .nav-container {
        margin-right: 0;
        font-size: 1rem;

        nav {
          margin-left: 0;
          font-size: 1rem;
        }
      }
    }
    .dashboard {
      width: 100%;
      height: auto;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 1.5rem;
        margin: 5px auto;
      }

      .dashboard-header {
        padding: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .add-transaction-button {
          display: none; // Hide the button on smaller screens
        }
      }
    }
    .transactions-list {
      margin: 0;
      background-color: v.$secondary-color;
      border-radius: 0.5rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      color: v.$text-color;

      .budget-items {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}
