@use "../../styles/variables" as v;

.demo-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .create-budget {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: v.$secondary-color;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: v.$text-color;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: left;

      .text-required {
        font-size: 0.75rem;
        color: v.$warning-color;
        margin-top: 0;
        margin-bottom: 1rem;
      }

      button {
        padding: 0.5rem 1rem;
        background-color: v.$accent-color;
        color: v.$secondary-color;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: v.$accent-color_darker;
        }
      }
    }
  }

  .dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2rem;
    width: 70%;
    height: 95%;
    // background-color: v.$secondary-color;
    border-radius: 1rem;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: v.$text-color;

    .title {
      font-family: "Russo One", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: v.$text-color_darker;
      margin-bottom: 0;

      align-self: center;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: center;
      width: 75%;

      .totals {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        .total {
          p {
            margin: 0;
          }
        }
      }

      .add-transaction-button {
        padding: 0.5rem 1rem;
        background-color: v.$accent-color;
        color: v.$secondary-color;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: v.$accent-color_darker;
        }
      }
    }

    .summaries {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      .summary {
        display: flex;
        flex-direction: column;
        padding: 0 1rem 1rem;
        margin-bottom: 1rem;
        background-color: v.$secondary-color;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        color: v.$text-color;
        text-align: left;

        .subtitle {
          position: relative;
          font-size: 1rem;
          margin-bottom: 0.5rem;

          span {
            position: absolute;
            right: 0;
            font-size: 0.875rem;
            color: v.$text-color_lighter;
            &:hover {
              cursor: pointer;
              color: v.$accent-color;
            }
          }
        }

        .summary-content {
          width: 450px;
          height: 320px;
        }

        .coming-soon {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          font-size: 0.875rem;
          color: v.$text-color_lighter;
          font-style: italic;
          background-color: v.$primary-color;
          border: 1px dashed v.$text-color;
          border-radius: 0.25rem;
        }
      }

      .calendar-box {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

        .calendar-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Russo One", sans-serif;
          font-size: 1rem;
          color: v.$text-color;
        }

        .calendar {
          .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 0.2rem;
          }

          .calendar-day {
            width: 45px;
            height: 45px;
            background-color: #f9fafb;
            box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.05);
            border-radius: 6px;
            padding: 0.15rem;
            font-size: 0.75rem;
            position: relative;

            .day-number {
              font-weight: bold;
              margin-bottom: 0.25rem;
              display: block;
            }

            &.today {
              background-color: #e0f2fe;
              border: 2px solid #38bdf8;
            }
          }

          .calendar-day.empty {
            background: transparent;
            border: none;
          }
        }
      }
    }
  }
}
