@font-face {
  font-family: "Russo One";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Russo_One/russo-one.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  font-weight: 500;
  font-style: light;
  src: url("../assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
}
.demo-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demo-home .create-budget {
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
}
.demo-home .create-budget h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.demo-home .create-budget form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.demo-home .create-budget form .text-required {
  font-size: 0.75rem;
  color: rgb(255, 30, 30);
  margin-top: 0;
  margin-bottom: 1rem;
}
.demo-home .create-budget form button {
  padding: 0.5rem 1rem;
  background-color: #0070bb;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.demo-home .create-budget form button:hover {
  background-color: #005f8a;
}
.demo-home .dashboard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2rem;
  width: 70%;
  height: 95%;
  border-radius: 1rem;
  color: rgb(75, 85, 99);
}
.demo-home .dashboard .title {
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(55, 65, 81);
  margin-bottom: 0;
  align-self: center;
}
.demo-home .dashboard .dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  width: 75%;
}
.demo-home .dashboard .dashboard-header .add-transaction-button {
  padding: 0.5rem 1rem;
  background-color: #0070bb;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.demo-home .dashboard .dashboard-header .add-transaction-button:hover {
  background-color: #005f8a;
}
.demo-home .dashboard .summaries {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.demo-home .dashboard .summaries .summary {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  text-align: left;
}
.demo-home .dashboard .summaries .summary .subtitle,
.demo-home .dashboard .summaries .summary .calendar-header {
  position: relative;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.demo-home .dashboard .summaries .summary .subtitle span,
.demo-home .dashboard .summaries .summary .calendar-header span {
  position: absolute;
  right: 0;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
}
.demo-home .dashboard .summaries .summary .subtitle span:hover,
.demo-home .dashboard .summaries .summary .calendar-header span:hover {
  cursor: pointer;
  color: #0070bb;
}
.demo-home .dashboard .summaries .summary .summary-content {
  margin: 0;
  padding: 0;
  width: 350px;
  height: 320px;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transaction-item {
  display: flex;
  justify-content: space-between;
  color: rgb(75, 85, 99);
  border-bottom: rgba(107, 114, 128, 0.5) 1px solid;
  font-size: 0.75rem;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transaction-item .transaction-item_details p {
  color: rgb(107, 114, 128);
  margin: 0;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transaction-item .transaction-item_details .transaction-amount {
  font-weight: bold;
  color: rgb(22, 163, 74);
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transactions-list_more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
  font-style: italic;
  background-color: rgb(243, 244, 246);
  border: 1px dashed rgb(75, 85, 99);
  border-radius: 0.25rem;
}
.demo-home .dashboard .summaries .summary .summary-content.transactions-list .transactions-list_more:hover {
  cursor: pointer;
  color: #0070bb;
}
.demo-home .dashboard .summaries .summary .coming-soon {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
  font-style: italic;
  background-color: rgb(243, 244, 246);
  border: 1px dashed rgb(75, 85, 99);
  border-radius: 0.25rem;
}
.demo-home .dashboard .summaries .calendar-box {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.demo-home .dashboard .summaries .calendar-box .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Russo One", sans-serif;
  font-size: 1rem;
  color: rgb(75, 85, 99);
}
.demo-home .dashboard .summaries .calendar-box .calendar .calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: rgb(107, 114, 128);
}
.demo-home .dashboard .summaries .calendar-box .calendar .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
}
.demo-home .dashboard .summaries .calendar-box .calendar .calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f9fafb;
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-size: 0.75rem;
  position: relative;
}
.demo-home .dashboard .summaries .calendar-box .calendar .calendar-day .day-number {
  color: rgb(107, 114, 128);
  display: block;
}
.demo-home .dashboard .summaries .calendar-box .calendar .calendar-day .day-number.today {
  color: rgb(55, 65, 81);
  font-weight: 700;
}
.demo-home .dashboard .summaries .calendar-box .calendar .calendar-day.empty {
  background: transparent;
  border: none;
}
.demo-home .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}
.demo-home .overlay .add-transaction {
  padding: 1.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  width: 400px;
  max-width: 90%;
  position: relative;
}
.demo-home .overlay .add-transaction .btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(107, 114, 128);
}
.demo-home .overlay .add-transaction .btn-close:hover {
  color: #0070bb;
}
.demo-home .overlay .add-transaction form {
  width: 100%;
}
.demo-home .overlay .add-transaction form .input-amount {
  font-size: 5rem;
  display: flex;
  align-items: baseline;
  color: rgb(55, 65, 81);
  font-size: 1.5rem;
}
.demo-home .overlay .add-transaction form .input-amount input[type=number] {
  field-sizing: content;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  background-color: transparent;
  border: none;
  color: rgb(55, 65, 81);
}
.demo-home .overlay .add-transaction form .input-amount input[type=number]:focus {
  outline: none;
}
.demo-home .overlay .add-transaction form .button {
  margin-top: 1rem;
}
.demo-home .overlay .transaction-show {
  padding: 1.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
  width: 400px;
  max-width: 90%;
  position: relative;
}
.demo-home .overlay .transaction-show .transaction-show-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.demo-home .overlay .transaction-show .transaction-show-header .subtitle {
  margin: 0;
}
.demo-home .overlay .transaction-show .transaction-show-header .close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(107, 114, 128);
}
.demo-home .overlay .transaction-show .transaction-show-header .close-button:hover {
  color: #0070bb;
}
.demo-home .overlay .transaction-show .transaction-title {
  margin: 0;
}
.demo-home .overlay .transaction-show .transaction-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.demo-home .overlay .transaction-show .transaction-details p {
  display: flex;
  justify-content: space-between;
  margin: 0.25rem 0;
}
.demo-home .overlay .transaction-show .transaction-details p span {
  font-weight: 700;
}
.demo-home .overlay .transaction-show .transaction-details .notes-container {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  color: rgb(107, 114, 128);
}
.demo-home .overlay .transaction-show .transaction-details .notes-container p {
  margin: 0;
  font-size: 0.875rem;
}
.demo-home > .transactions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem 0;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: rgb(75, 85, 99);
}
.demo-home > .transactions-list .title {
  font-family: "Russo One", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(55, 65, 81);
  margin: 0;
}
.demo-home > .transactions-list .subtitle {
  font-size: 1rem;
  color: rgb(107, 114, 128);
}
.demo-home > .transactions-list .budget-items {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.demo-home > .transactions-list .budget-items .transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 244, 246);
  border-radius: 0.25rem;
  color: rgb(55, 65, 81);
  padding: 0.25rem;
}
.demo-home > .transactions-list .budget-items .transaction-item.income {
  background-color: rgba(22, 163, 74, 0.4);
}
.demo-home > .transactions-list .budget-items .transaction-item.past-due {
  background-color: rgb(254, 202, 202);
}
.demo-home > .transactions-list .budget-items .transaction-item.upcoming {
  background-color: rgba(255, 165, 0, 0.4);
}
.demo-home > .transactions-list .budget-items .transaction-item .item-details {
  display: flex;
  flex-direction: column;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-details .item-name {
  font-weight: bold;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-details .item-amount {
  color: rgb(22, 163, 74);
}
.demo-home > .transactions-list .budget-items .transaction-item .item-actions {
  display: flex;
  gap: 0.5rem;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-actions button {
  padding: 0.25rem 0.5rem;
  background-color: #0070bb;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
.demo-home > .transactions-list .budget-items .transaction-item .item-actions button:hover {
  background-color: #005f8a;
}

@media screen and (max-width: 900px) {
  .demo-home {
    height: 100vh;
    justify-content: flex-start;
  }
  .demo-home header {
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .demo-home header .title {
    display: none;
  }
  .demo-home header .nav-container {
    margin-right: 0;
    font-size: 1rem;
  }
  .demo-home header .nav-container nav {
    margin-left: 0;
    font-size: 1rem;
  }
  .demo-home .dashboard {
    width: 100%;
    height: auto;
    padding-bottom: 6rem;
    flex-direction: column;
    align-items: center;
  }
  .demo-home .dashboard .title {
    font-size: 1.5rem;
    margin: 5px auto;
  }
  .demo-home .dashboard .dashboard-header {
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .demo-home .dashboard .dashboard-header .add-transaction-button {
    display: none;
  }
  .demo-home .transactions-list {
    margin: 0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: rgb(75, 85, 99);
  }
  .demo-home .transactions-list .budget-items {
    width: 100%;
    padding: 0.5rem;
  }
  .demo-home .overlay .add-transaction {
    width: 90%;
    max-width: 400px;
    margin-top: 2rem;
  }
  .demo-home .overlay .add-transaction .btn-close {
    top: 0.5rem;
    right: 0.5rem;
  }
  .demo-home .overlay .transaction-show {
    width: 90%;
    height: 100%;
    max-width: 400px;
    margin-top: 2rem;
    justify-content: flex-start;
  }
  .demo-home .overlay .transaction-show .close-button {
    top: 0.5rem;
    right: 0.5rem;
  }
  .demo-home .mobile-only.add-transaction {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    border-radius: 50%;
    overflow: hidden;
  }
  .demo-home .mobile-only.add-transaction button {
    width: 4rem;
    height: 4rem;
  }
  .demo-home .mobile-only.add-transaction button:hover {
    background-color: #005f8a;
  }
}/*# sourceMappingURL=demoHome.css.map */