/* Tag Styles */
li {
    list-style: none;
}

/* Main Container Styles */
.mainContainer {
    padding: 0 40px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

/* Hide Scrollbar */
.mainContainer::-webkit-scrollbar {
    display: none;
}

.categoriesContainer {
    display: flex;
    border: solid black;
    justify-content: space-evenly;
}

.listContainer{
    width: 20%;
    border: solid black;
}

.listContainer > h2 {
    margin: auto;
    overflow-wrap: break-word;
    font-family: 'Roboto', monospace;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;

    
    /* border: solid black; */
}


@media screen and (max-width: 900px) {
    .mainContainer {
        width: 95%;
        height: 85%;
        margin: auto;
        padding: 0;
        overflow:auto;
    }

    .categoriesContainer {
        border-width: 1px;
        margin: auto;
        width: 95%;
    }

    .listContainer {
        border-width: 1.5px;
        
    }

    .listContainer > h2 {
        font-size: 0.8rem;
    }
}