/* Tag Styles */
li {
    list-style: none;
}

/* Main Container Styles */
.mainContainer {
    height: 80%;
    margin: 20px 50px 50px;
    border: solid #B0B7C4;
    border-radius: 10px 20px 3px;
    background-color: rgb(53, 52, 52);
    overflow: hidden;
}

/* CATEGORIES CONTAINER */

.categoriesContainer {
    display: flex;
    border: solid #B0B7C4;
    justify-content: space-evenly;
}

.listContainer{
    width: 20%;
    border: solid #B0B7C4;
}

.listContainer > h2 {
    margin: auto;
    overflow-wrap: break-word;
    font-family: 'Roboto', monospace;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    /* border: solid black; */
}
/* BILLS CONTAINER */
.billsContainer{
    height: 100%;
    overflow: scroll;
}

.billsContainer::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 900px) {
    .mainContainer {
        height: 85%;
        padding: 0;
        overflow:auto;
        
    }

    .categoriesContainer {
        border-width: 4px;
    }

    .listContainer {
        border-width: 1.5px;
        padding-top: 10px;
    }

    .listContainer > h2 {
        font-size: 15px;
    }

    .listContainer:nth-child(5){
        padding-top: 0px;
    }
}