/* Tag Styles */
li {
    list-style: none;
}

/* Main Container Styles */
.mainContainer {
    border: solid black;
    width: 1000px;
    margin: 20px auto;
}

.categoriesContainer {
    display: flex;
}

.categoriesContainer > li {
    flex-grow: 1;
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    border: solid black;
    text-align: center;
    font-weight: bold;
}