@font-face {
  font-family: "Russo One";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Russo_One/russo-one.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-weight: 500;
  font-style: light;
  src: url("../assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
}
