@use "./fonts";

$primary-color: rgb(243 244 246); // gray-100
$secondary-color: white; // white
$accent-color: #0070bb; // blue-600
$text-color: rgb(75 85 99); // gray-600
$text-color_darker: rgb(55 65 81); // gray-700
$warning-color: rgb(255, 30, 30); // red-600
