/* ADD */
/* Flex Containers */
.addContainer , .addHeader, form {
    display: flex;
}

/* Container */
.addContainer {
    flex-direction: column;
    border: solid #B0B7C4;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(53, 52, 52);
    margin: 20px;
    height: fit-content;
    margin: 80px 20px;
}

/* Header */
.addHeader > h2 {
    flex: 1;
    text-align: center;
}

.addTitle {
    font-family: "Russo One";
    font-weight: bold;
    font-size: 45px;
    margin: auto 0;
}

/* Add Plan Form */
form {
    flex-direction: column;
}

.formInput {
    display: flex;
    font-size: 2rem;
    font-family: "Space Mono";
    margin: 5px 0;    
}

.formInput > input[type=text], input[type=date], input[type=number], #addBillRepeat {
    font-size: 1.5rem;
    flex: 1;
}

.radio {
    display: flex;
    justify-content: space-around;
}

.formNotes {
    margin: 10px 0;
    height: 150px;
    font-size: 1.5rem;
    resize: none;
}

#submit {
    position: relative;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 10px auto;
    font-family: "Space Mono", sans-serif;
}

#submit:hover {
    box-shadow: 0 0 5px 1px white;
    cursor: pointer;
}

/* Button press effect */
#submit:active {
    top: 3px;
}

.disabled {
    pointer-events: none;
    background-color: gray;
}

.expenseMessage {
    font-size: 1rem;
    color: rgb(255, 61, 61);
    font-style: italic;
}

/* new Amount Style */
.addForm > .amount {
    font-size: 8em;
    display: inline-block;
    border: none;
    background-color: unset;
    text-align: center;
    outline: none;
    color: rgb(245, 255, 160);
}

/* Others */
.addForm > .amount::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.addForm > .amount {
  appearance: textfield;
}

@media screen and (max-width: 900px) {
    .addContainer {
        padding: 0 5px;
        margin: 10px;
    }

    .addHeader > h2 {
        font-size: 2em;
    }

    .addForm > .amount {
        font-size: 6em;
        width: 95%;
        margin: 20px auto;
        padding: 0;
    }

    .formNotes {
        height: 150px;
    }

    .formInput {
        font-size: 25px;
        margin: 0;
        margin: 5px ;
    }

    #submit {
        text-align: center;
    }

    .billCheckBoxes {
        display: flex;
        justify-content: space-around;
    }

    .billCheckBoxes input {
        margin: auto 0;
    }
}