/* ADD */
/* Flex Containers */
.addContainer , .addHeader, .addForm, .addBillForm {
    display: flex;
}

/* Container */
.addContainer {
    display: flex;
    flex-direction: column;
    border: solid #B0B7C4;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(53, 52, 52);
}

/* Header */
.addTitle {
    font-size: 45px;
}

/* Add Plan Form */
.addForm, .addBillForm {
    flex-direction: column;
}

.addFormInput {
    font-size: 2rem;
    font-family: "Space Mono";
    margin: 0;
}

/* Add Plan */


.navTitle {
    font-family: "Russo One";
    font-size: 2rem;
    font-weight: bold;
    margin: auto 0 0 30%;
}



.addFormInput > input {
    font-size: 1.5rem;
}

.addFormNotes {
    margin: 10px 0;
    height: 200px;
    font-size: 1.5rem;
}

#addFormSubmit {
    height: 80px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin: 10px auto 0;
    font-family: "Space Mono", sans-serif;
}

.expenseMessage {
    font-size: 1rem;
    color: rgb(255, 61, 61);
    font-style: italic;
}

/* Add Bill Form */
.addBillFormInput {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.addBillFormInput > input , .repeatOption  {
    width: 250px;
    font-size: 1rem;
}

.addBillFormNotes {
    margin-top: 10px;
    height: 100px;
}

@media screen and (max-width: 900px) {
    .addContainer {
        width: auto;
        margin: 70px 30px;
        text-align: start;
        justify-content: start;
        padding: 10px;
    }

    .addForm {
        width: auto;
        margin: 0;
    }

    .addFormNotes {
        height: 150px;
    }

    .addFormInput {
        font-size: 25px;
        margin: 0;
    }

    #addFormSubmit {
        text-align: center;
    }
}