.containerShow, .containerShowBill {
    position: relative;
    border: solid #B0B7C4;
    border-radius: 20px;
    background-color: rgb(53, 52, 52);
    margin: 80px auto auto;
    box-shadow: 1px 1px 5px 1px white;

}

.showHeader {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.showHeader .fi {
    font-size: 2.5rem;
}

/* Plan */

.closeBtn {
    width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}

.closeBtn:hover{
    cursor: pointer;
}

.showInfo {
    font-family: "Space Mono", sans-serif;
    word-wrap: break-word;
    font-size: 30px;
    margin-top: 0;
}

.showInfo > span {
    font-weight: bolder;
    font-size: 35px;
    padding-left: 10px;
    color: #e2edff;
}

.notes {
    margin: -30px 0 20px;
    width: 450px;
}


/* Bill */

/* New Style */
.containerShowInner {
    margin-top: 60px;
    text-align: start;
    padding: 10px 50px;
    background-color: rgb(24, 22, 22);
    border-radius: 0 0 20px 20px;
}

.containerShowInner.plans {
    border-top: solid rgb(208, 255, 0) 5px;
}

.containerShowInner.bills {
    border-top: solid rgb(255, 0, 34) 5px;
}

.containerShowInner.accounts {
    border-top: solid rgb(0, 153, 255) 5px;
}


.show.label {
    margin: 30px 0;
    font-family: "Calibri";
    font-size: 30px;
    color: #c9c9c9;
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.show.label > span {
    padding: 0 5px;
    margin-right: 20px;
    font-family: "Russo One";
    font-size: 34px;
    color: white;
    background-color: #141414;
    border-radius: 5px;
    box-shadow: white 0 0 5px 1px;
}

.show.label.notes {
    text-align: start;
    white-space:pre-wrap;
    max-height: 200px;
    overflow: scroll;
    background-color: rgb(66, 61, 61);
    color: #c9c9c9;
    border: black solid;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px rgb(252, 252, 252);
    padding-left: 5px;
    font-family: "Calibri";
    font-size: 20px;
}

.show.label.notes::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 900px) {
    .containerShow, .containerShowBill {
        margin-top: 10px;
        width: 95%;
    }

    .containerShowInner {
        padding: 0 10px;
    }

    .show.label {
        margin: 10px 0;
        font-size: 26px;
    }

    .show.label > span {
        margin: 0;
        text-align: start;
        font-size: 28px;
    }

    
    .show.label.notes {
        width: auto;
        min-height: 70px;
    }
}