.containerShow {
    border: solid #B0B7C4;
    border-radius: 20px;
    background-color: rgb(53, 52, 52);
    margin: 10% auto;
    width: 600px;
}

.containerShowInner {
    width: 300px;
    margin: 10px auto 200px;
    text-align: start;
}

.closeBtn {
    width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 0 10px;
}

.showInfo {
    font-family: "Space Mono", sans-serif;
    word-wrap: break-word;
    font-size: 30px;
}

.notes {
    margin: -30px 0 20px;
    width: 450px;
}


@media screen and (max-width: 900px) {
    .containerShow {
        width: 95%;
        margin: 20px auto;
    }
}