.containerLandingPage{
    max-height: 500px;
    width: 75%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 0;
    border: solid white;
    border-radius: 20px;
    background: linear-gradient(rgb(37, 34, 34), rgb(161, 158, 158));
}

.introduction{
    /* border: solid gray; */
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
    font-size: 1.25rem;
}

.mobilePageImage{
    display: flex;
    flex-direction: column;
}

.mobilePageImage > p {
    font-weight: 300;
    color: white;
    margin: auto;
    text-align: center;
}

.mobilePageImage > img {
    width: 10em;
    height: 10em;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .containerLandingPage{
        all: unset;
        display: flex;
    }
    .containerLandingPage {
        /* border: solid red; */
        height: 100%;
      }

    .introduction{
        display: none;
    }
}