.containerLandingPage{
    border: solid white;
    border-radius: 50px;
    margin: 20px 5%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(37, 34, 34), rgb(161, 158, 158));
    box-shadow: 1px 1px 5px 2px white;
}

.introduction{
    /* border: solid gray; */
    font-family: "Space Mono";
    font-size: 25px;
    width: 50%;
}

.mainPageImage{
    width: 250px;
    padding-left: 100px;
}

.mobilePageImage > p{
    width: 50%;
    margin: 0;
}

.mobilePageImage{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .containerLandingPage{
        all: unset;
    }
    .containerLandingPage {
        /* border: solid red; */
        height: 100%;
      }

    .introduction{
        display: none;
    }
}