.footerContainer {
    bottom: 0px;
    width: 100%;
    background-color: #B0B7C4;
    font-family: 'Ubuntu', sans-serif;
    height: 3vh;
    color: black;
    padding-bottom: 5px;
}

.footerContent {
    text-align: center;
    margin: auto;
}

#protfolioLink {
    text-decoration: none;
    color: black;
}

#protfolioLink:hover{
    color: white;
}

@media screen and (max-width: 900px) {
    .footerContainer {
        height: 4.5vh;
    }
}