.footerContainer {
    bottom: 0px;
    width: 100%;
    background-color: gray;
    font-family: 'Ubuntu', sans-serif;
    height: 2rem;
}

.footerContainer > h1 {
    text-align: center;
    margin: auto;
}

#protfolioLink {
    text-decoration: none;
    color: black;
}