/* MAIN CONTAINER STYLES */
.containerPlanList {
    border: solid #B0B7C4;
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.containerPlanList::-webkit-scrollbar{
    display: none;
}

/* PLANS CONTAINER (PAGE) */
.plansContainer {
    overflow: scroll;
}

.plansContainer::-webkit-scrollbar{
    display: none;
}

/* PLAN CONTAINER (SINGLE) */
.planContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
}

.planContainer > p {
    flex: 2;
    text-align: center;
    margin: 0;
    font-size: 24px;
    border: solid #B0B7C4 1px;
}

.plan.date, .plan.amount {
    flex: 1
}
.plan.running.total {
    flex: 1.5
}


.plan.name {
    text-align: start;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
    .containerPlanList {
        border: none;
        max-height: 700px;
    }

    .planContainer {
        border: none;
    }

    .planContainer > p {
        font-size: 17px;
        border: none;
    }

    .plan.name {
        padding: 0
    }

    .plan.amount, .plan.running.total {
        text-align: end;
        overflow: scroll;
    }

    .plan.amount::-webkit-scrollbar, .plan.running.total::-webkit-scrollbar{
        display: none;
    }
}