/* MAIN CONTAINER STYLES */
.containerPlanList {
    border: solid #B0B7C4;
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.containerPlanList::-webkit-scrollbar{
    display: none;
}
/* ----- END OF MAIN CONTAINER STYLES ----- */

/* CATEGORIES CONTAINER */
.categoriesContainer, .planContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #B0B7C4 5px;
}

.categoriesContainer {
    font-family: "Russo One";
    background-color: rgb(19, 19, 19);
}

.categoriesContainer > h2, .planContainer > p {
    flex: 2;
    text-align: center;
    margin: 0;
    font-size: 30px;
    text-transform: capitalize;
}

.category.date, .category.amount, .category.running.total, .plan.date, .plan.amount, .plan.running.total {
    flex: 1
}
/* ------ END OF CATEGORIES CONTAINER ----- */

/* PLANS CONTAINER (PAGE) */
.plansContainer {
    overflow: scroll;
}

.plansContainer::-webkit-scrollbar{
    display: none;
}

/* PLAN CONTAINER (SINGLE) */
.planContainer {
    background-color: rgb(43, 43, 43);
    border-width: 1px;
}

.planContainer > p {
    font-size: 24px;
    text-transform: none;
    border: solid #B0B7C4 1px;
}


.plan.name {
    text-align: start;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
    .containerPlanList {
        border: none;
        max-height: 700px;
    }

    .categoriesContainer {
        border: none;
        background-color: #50555f;
        box-shadow: 1px 1px 5px 1px white;
        margin-bottom: 5px;
    }

    .full {
        display: none;
    }

    .categoriesContainer > h2 {
        font-size: 20px;
    }

    .planContainer {
        border: none;
    }

    .planContainer > p {
        font-size: 18px;
        border: none;
    }

    .plan.amount, .plan.running.total {
        text-align: end;
    }
}