/* MAIN CONTAINER STYLES */
.containerPlanList {
    border: solid #B0B7C4;
    border-radius: 5px;
    background-color: rgb(53, 52, 52);
    box-shadow: 1px 1px 5px 3px gray;
    overflow: scroll;
    flex-grow: 1;
    margin: 0 20px 5px;
}

.containerPlanList::-webkit-scrollbar{
    display: none;
}

/* PLANS CONTAINER (PAGE) */
.plansContainer {
    overflow: scroll;
}

.plansContainer::-webkit-scrollbar{
    display: none;
}

/* PLAN CONTAINER (SINGLE) */
.planContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(43, 43, 43);
}

.planContainer > p {
    flex: 2;
    text-align: center;
    margin: 0;
    font-size: 1em;
    border: solid #B0B7C4 1px;
}

.plan.date, .plan.amount {
    flex: 1
}
.plan.running.total {
    flex: 1.5
}


.plan.name {
    text-align: start;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fi-rr-add {
    font-size: 2em;
}

@media screen and (max-width: 900px) {
    .containerPlanList {
        border: none;
        max-height: 700px;
        margin: 0;
    }

    .categoriesContainer {
        align-items: center;
    }

    .categoriesContainer > h2 {
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-size: 1.25em;
    }

    .planContainer {
        border: none;
    }

    .planContainer > p {
        font-weight: 300;
        font-size: 1em;
        border: none;
    }

    .planContainer > .running.total {
        padding-right: 5px;
    }

    .plan.name {
        padding: 0
    }

    .plan.amount, .plan.running.total {
        text-align: end;
        overflow: scroll;
    }

    .plan.amount::-webkit-scrollbar, .plan.running.total::-webkit-scrollbar{
        display: none;
    }

    .containerAdd > .fi-rr-add {
        font-size: 1.5em;
    }
}