.billContainer {
    display: flex;
    justify-content: space-between;
    border: solid #B0B7C4;
}

.dataContainer{
    width: 17%;
    border: solid #B0B7C4;
    border-width: 0 2px;
}

.billData {
    font-family: "Ubuntu";
    font-size: 20px;
    text-align: center;
    margin: 10px;
}


@media screen and (max-width: 900px) {
    .dataContainer{
        overflow: hidden;
        border: none;  
        width: 40%;  
    }

    .billContainer {
        border: none;
        justify-content: start;
    }
    
    .billData {
        font-size: 18px;
        padding: 5px 0;
        text-align: start;
        margin: auto;
    }

    .dataContainer:nth-child(1){
        width: 16%;
    }
    .dataContainer:nth-child(2){
        padding-left: 5px;
    }
    .dataContainer:nth-child(n+3){
        width: 13%;
    }
    .dataContainer:nth-child(n+3) > p {
        text-align: start;
    }

    .dataContainer:last-child > p{
        text-align: end;
    }


    .expense > .dataContainer > .amount{
        color: red;
    }

    .income > .dataContainer > .amount{
        color: green;  
    }

    .type {
        display: none;
    }
}