.billContainer {
    display: flex;
    justify-content: space-evenly;
    border: solid #B0B7C4;
}

.dataContainer{
    width: 20%;
    border: solid #B0B7C4;
    border-width: 0 2px;
}

.billData {
    font-family: "Ubuntu";
    font-size: 20px;
    text-align: center;
    margin: 10px;
}


@media screen and (max-width: 900px) {
    .dataContainer{
        overflow: hidden;
        border-width: 1px;
        
    }

    .billContainer {
        border-width: 1px;
        
    }

    .billData {
        font-size: 1rem;
        padding: 5px 0;
        text-align: center;
        margin: auto;
    }
    
    .date {
        font-size: 14px;
    }

    .name {
        font-size: 12px;
    }

}