.containerLogin, .containerRegister {
    border: solid black;
    width: 500px;
    text-align: center;
    margin: auto;
}

.registerHeader {
    display: flex;
    flex: row;
}

.loginTitle {
    flex: 1;
}

.formLogin, .formRegister {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.formLogin > label, .formRegister > label {
    display: flex;
    flex-direction: column;
}

.formLogin > label > input, .formRegister > label > input {
    width: 80%;
    margin: 10px auto;
}

.btnLogin, .btnRegister {
    width: 25%;
    margin: 20px auto;
}

.containerLogin > p {
    margin: 0 auto 20px;
    width: 100px;
}

.return {
    margin: 0;
}

.return:hover {
    cursor: pointer;
    
}

@media screen and (max-width: 900px) {
    .containerLogin, .containerRegister {
        width: auto;
        margin: 0 20px
    }
}