.sectionAccountList {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

/* CHECKING, SAVINGS */
section.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoriesContainer.account {
    width: 100%;
}

/* CHECKING, SAVINGS */

.containerAccount{
    border: solid #B0B7C4;
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.categoriesContainer.checking, .accountContainer {
    width: 100%;
}

.bankContainer {
    display: flex;
}

.listContainer.account {
    width: 33%;
    display: flex;
}

/* CHECKING, SAVINGS */