.containerAccount{
    border: solid #B0B7C4;
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.categoriesContainer.checking {
    width: 100%;
}

/* CHECKING */
.sectionChecking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.listContainer.checking {
    width: 33%;
    display: flex;
}

.accountContainer {
    display: flex;
}