.sectionAccountList {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.sectionAccountList > .account {
    align-self: baseline;
}

.sectionAccountList > section {
    width: 100%;
}

/* Account List Header */
.accountListHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accountListCategories {
    display: flex;
    flex-direction: row;
}

.accountListHeader.categories {
    width: auto;
    margin: auto 10px;
}

.accountListHeader.categories:hover {
    cursor: pointer;
}

/* CHECKING, SAVINGS */
section.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categoriesContainer, .accountContainer, .bankContainer {
    width: 100%;
}

/* CHECKING, SAVINGS */

.containerAccount{
    border: solid #B0B7C4;
    background-color: rgb(53, 52, 52);
    overflow: scroll;
    flex-grow: 1;
}

.bankContainer, .listContainer {
    display: flex;
}

.listContainer.account {
    width: 33%;
}

.accountBalance > .accountBalance{
    background-color: unset;
    border: none;
    width: 100%;
    text-align: center;
    font-family: "Russo One";
    font-size: 25px;
}

/* CHECKING, SAVINGS */

/* CREDIT */

/* CREDIT */

/* LOAN */
.listContainer.loan {
    width: 14%;
}
/* LOAN */

@media screen and (max-width: 900px) {
    .sectionAccountList {
        margin: 0;
    }
    .accountContainer .listContainer > h2, .accountBalance{
        font-size: 14px;
    }

    .categoriesContainer.credit {
        padding: 0
    }

    .listContainer.credit {
        margin: 0 5px;
    }

    /* Cheking, Savings, Credit Card, Loan hide other categories */
    .credit.accountNumber, .credit.credit.creditBalance, .credit.interest,
    .account.accountNumber > h2, .credit.accountNumber > h2, .credit.creditBalance > h2, .credit.interest > h2,
    .loan.loanAmount, .loan.loanAmount > h2, .loan.availableCredit, .loan.availableCredit > h2, .loan.interest, .loan.interest > h2
    {
        display: none;
    }
}