.header {
    margin-bottom: 10px;
    border-bottom: solid rgb(230, 230, 230) 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.title {
    font-family: 'Russo One', sans-serif;
    width: 250px;
    font-size: 50px;
    color: #dbdbdb;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 0 5px;
    }
    .title{
        font-size: 25px;
        margin: auto;
    }
}