@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');

body {
  width: 100%;
  height: 100vh;
  background-color: #414449;
  color: #B0B7C4;
  overflow: hidden;
}

#root {
  height: inherit;
  padding-top: 100px;

}

.App {
  height: 85vh;
  width: 1000px;
  margin: 0 auto;
}


@media only screen and (max-width: 900px) {
  body {
    height: auto;
  }

  .App {
    height: 73vh;
    width: auto;
  }
}