@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono&family=Ubuntu&display=swap');

html, body, #root, .App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  /* background-color: #414449; */
  background: linear-gradient(black, gray) no-repeat fixed center;
  color: #B0B7C4;
}

.signout {
  position: fixed;
  bottom: 20px;
  right: -30px;
}

.negative {
  color: rgb(255, 0, 0) !important;
}

.positive {
  color: rgb(0, 200, 0) !important;
}

.selected {
  text-shadow: 1px 0 #B0B7C4 !important;
}

.fi {
  cursor: pointer;
}
.fi:hover{
  color: white;
  text-shadow: 0 0px 5px white;
}

@media only screen and (max-width: 900px) {
  .full {
    display: none;
  }

  .signout {
    position: fixed;
    bottom: 30px;
    right: -5px;
  }

  .positiveMobileOnly {
    color: rgb(0, 200, 0) !important;
  }

  .negativeMobileOnly {
    color: rgb(255, 0, 0) !important;
  }
}

