@font-face {
  font-family: "Russo One";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/fonts/Russo_One/russo-one.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Kanit/Kanit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  font-weight: 500;
  font-style: light;
  src: url("../assets/fonts/Kanit/Kanit-Light.ttf") format("truetype");
}
html,
body,
#root,
.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Kanit", sans-serif;
  color: rgb(75, 85, 99);
}
html form,
body form,
#root form,
.App form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
html ul,
html ol,
body ul,
body ol,
#root ul,
#root ol,
.App ul,
.App ol {
  list-style: none;
}
html .income,
body .income,
#root .income,
.App .income {
  color: rgb(22, 163, 74);
}
html .expense,
body .expense,
#root .expense,
.App .expense {
  color: rgb(255, 30, 30);
}
html .totals,
body .totals,
#root .totals,
.App .totals {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
html .totals .total p,
body .totals .total p,
#root .totals .total p,
.App .totals .total p {
  margin: 0;
}
html .button,
body .button,
#root .button,
.App .button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #0070bb;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
html .button:hover,
body .button:hover,
#root .button:hover,
.App .button:hover {
  background-color: #005f8a;
}
html .button:disabled,
body .button:disabled,
#root .button:disabled,
.App .button:disabled {
  background-color: rgb(107, 114, 128);
  cursor: not-allowed;
}
html .mobile-only,
body .mobile-only,
#root .mobile-only,
.App .mobile-only {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}

.label-input {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  font-weight: 700;
}
.label-input input {
  width: auto;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid rgb(75, 85, 99);
  background-color: rgb(243, 244, 246);
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
}
.label-input input:focus {
  border-color: #0070bb;
  border-width: 2px;
  outline: none;
}
.label-input input:disabled {
  background-color: rgb(75, 85, 99);
  border-color: #0070bb;
  cursor: not-allowed;
}
.label-input input:disabled::-moz-placeholder {
  color: rgb(107, 114, 128);
  font-style: italic;
}
.label-input input:disabled::placeholder {
  color: rgb(107, 114, 128);
  font-style: italic;
}

.input-select {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}
.input-select select {
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  border: 1px solid rgb(75, 85, 99);
  background-color: rgb(243, 244, 246);
  font-size: 1rem;
  font-family: "Kanit", sans-serif;
}
.input-select select:focus {
  outline: none;
  border-color: #0070bb;
  border-width: 2px;
}
.input-select select:disabled {
  background-color: rgb(5, 15, 35) !important;
  border-color: #0070bb;
  cursor: not-allowed;
}
.input-select select:disabled::-moz-placeholder {
  color: rgb(107, 114, 128);
  font-style: italic;
}
.input-select select:disabled::placeholder {
  color: rgb(107, 114, 128);
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0070bb;
}
footer .footer-content {
  color: white;
  font-size: 0.75rem;
  text-align: center;
}

.signout {
  position: fixed;
  bottom: 20px;
  right: -30px;
}

.negative {
  color: rgb(255, 30, 30) !important;
}

.positive {
  color: rgb(0, 200, 0) !important;
}

.selected {
  text-shadow: 1px 0 #b0b7c4 !important;
}

.fi {
  cursor: pointer;
}

.fi:hover {
  color: white;
  text-shadow: 0 0px 5px white;
}

@media only screen and (max-width: 900px) {
  .full {
    display: none;
  }
  .hidden-mobile {
    display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
  .signout {
    position: fixed;
    bottom: 30px;
    right: -5px;
  }
  .positiveMobileOnly {
    color: rgb(0, 200, 0) !important;
  }
  .negativeMobileOnly {
    color: rgb(255, 0, 0) !important;
  }
}/*# sourceMappingURL=app.css.map */