.header {
    box-shadow: 1px 1px 5px 3px white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: black;
}

.title {
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    color: #dbdbdb;
    margin: 0 0 0 20px;
}

.title:hover {
    cursor: pointer;
}

.fi-rr-sign-out-alt  {
    font-size: 1.5em;
}

.fi-rr-sign-out-alt {
    margin: auto 10px !important;
}

.fi-rr-sign-out-alt:hover {
    font-size: 1.7em !important;
}

@media screen and (max-width: 900px) {
    .header {
        padding: 0;
        height: 35px;
        width: auto;
    }
    .title{
        font-size: 25px;
        margin: 0 10px;
    }
}